header{
    height: 100px;
}

.fa-user:hover, .fa-cart-shopping:hover, .fa-bars:hover, .logo:hover, .fa-magnifying-glass:hover{
    cursor: pointer;
    color: silver;
}

@media(max-width: 992px){
    main{
        margin-top: 145px;
    }
}

